@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .btn-primary {
    /* @apply btn bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500; */
    @apply bg-transparent hover:bg-violet-500 text-violet-700 font-semibold hover:text-white py-2 px-4 border border-gray-400 hover:border-transparent rounded-lg;
  }

  .btn-secondary {
    /* @apply btn bg-gray-200 text-gray-700 hover:bg-gray-300 focus:ring-gray-500; */
    @apply bg-transparent hover:bg-violet-500 text-violet-700 font-semibold hover:text-white py-2 px-4 border border-violet-500 hover:border-transparent rounded-lg;
  }

  .input {
    @apply block w-full
    bg-transparent
    border-2
    border-gray-400
    rounded-lg
    focus:outline-none
    focus:bg-gray-400/10
    focus:border-gray-400
    focus:ring-0 
    px-3 py-2
    relative
    hover:bg-gray-200/10
    transition-colors;
  }
}
